@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;

}

body {
  margin: 0;

  /* Gradiente linear entre as cores especificadas */
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  background-image: linear-gradient(180deg, #ead6b0, #bfefad, rgb(215, 213, 213));
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  /* border: 1px solid #e1a029; */

}

.logo {
  margin-top: -4px;
  flex: 20%;
  margin-left: 10%;
  /* border: 1px solid red; */
  text-align: center;
}

.logo h1 {
  transform: scale(1.3);
  font-family: 'Lobster', cursive;
  color: #365c28;
  font-size: 34px;
}

.menu {
  flex: 70%;
  /* border: 1px solid rgb(18, 75, 18); */
  text-align: right;
  padding: 20px;
}

.menu a {


  color: #365c28;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;

}

.menu a:hover {
  transform: scale(0.9);
  color: #e1a029;
  border-top: 4px solid#405d3a;

}

#botao {
  background: #365c28;
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 5%;
}

#botao:hover {
  border: none;
  background: #e1a029;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 700px;
  background-color: white;
  padding: 120px;

}

.headline {
  margin-left: 50px;
  margin-top: 7%;
  flex: 30%;
  /* border: 1px solid black; */
}

.headline h2 {
  font-weight: 700px;
  font-size: 20px;
  color: #365c28;
  padding: 0;
  margin: 0;
}

.img-headline {
  object-fit: contain;
  margin-right: 10%;
  margin-top: 0%;
  flex: 30%;
  /* border: 1px solid pink; */
  text-align: right;
  text-align: center;
}

.headline p {
  font-family: 'Lobster', cursive;
  text-align: justify;
  font-weight: bold;
  color: rgb(128, 128, 128);
}

.headline p:hover {
  color: #e1a029;

}

section {
  color: #365c28;
  display: inline-block;
  margin-top: -140px;
  /* border: 1px solid black; */
  margin-left: 7%;
  padding: 5%;
  margin-right: 5%;
  text-align: center;
  width: 90%;
}

section h3 {
  width: 100%;
  font-size: 30px;
  margin: 0;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

.servicos {
  white-space: nowrap;
  /* Impede que os elementos quebrem para a próxima linha */
  font-size: 0;
  /* Remove o espaçamento entre os elementos */
}

.card {
  margin-top: 100px;
  display: inline-block;
  width: 150px;
  margin: 20px;
  vertical-align: top;
  background-color: #e1a029;
  padding: 10px;
  border-radius: 5px;
  text-align: 10px;
  transition: transform 0.3s, background-color 0.3s;
  /* Adiciona transição para o efeito de zoom e mudança de cor */
}

/* Efeito de hover */
.card:hover {
  background-color: #365c28;
  color: #e1a029;
  transform: scale(1.1);
  /* Aplica um efeito de zoom ao passar o mouse */
}

.card img {
  text-align: center;
  margin-top: 30px;
  max-width: 100%;
  /* Garante que a imagem não ultrapasse a largura do card */
}

footer {
  margin-top: 40px;
  height: 300px;
  background-image: linear-gradient(180deg, #ead6b0, #bfefad, rgb(215, 213, 213));
  /* border-top: 3px solid #365c28; */
  text-align: center;
  /* Gradiente linear entre as cores especificadas */
}

.logo-rodape {
  padding: 50px;

}

.whats {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 100px;
}

#slider {

  width: 5px;
  max-width: 530px;
  height: 10vw;
  margin-left: 400px;
  margin-right: 1000px;
  margin-top: 5%;
  flex: 380%;
  float: left;
  float: right;

  position: relative;
  /* border: 1px solid black; */

}

#slider img {
  margin-top: -25%;
  opacity: 0;
  position: absolute;
  width: 350%;
  height: 200%;
  left: 5-99%;
  object-fit: cover;
  transition: opacity 800ms;
  border: 5px solid orange;
  border-radius: 0px;
}

#slider img.selected {
  opacity: 1;

}